@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PartialSansKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes colorChange {
  0% { color: #1E96FC; }
  50% { color: #FF9F1C; }
  100% { color: #1E96FC; }
}

.text-animate {
  animation: colorChange 2s infinite;
}

.contact-number {
  color: #002748;
  transition: color 0.2s;
  animation: colorChange 2s ease-in-out infinite;
}

.contact-number:hover {
  color: #FF7B00;
}

@keyframes colorChange {
  0%, 100% {
    color: #002748;
  }
  50% {
    color: #FF7B00;
  }
}
@keyframes complementaryBackground {
  0%, 100% { 
    background-color: #FFD700;  /* 골드 */
    color: #4B0082;            /* 인디고 (골드의 보색) */
  }
  50% { 
    background-color: #4B0082;  /* 인디고 */
    color: #FFD700;            /* 골드 */
  }
}

.complementary-bg {
  animation: complementaryBackground 4s infinite;
}