@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PartialSansKR';
  src: url('/fonts/PartialSansKR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes colorChange {
  0%, 100% {
    color: #1E96FC;
  }
  50% {
    color: #FF9F1C;
  }
}

.text-animate {
  animation: colorChange 1s steps(2) infinite;
}

.contact-number {
  color: #002748;
  transition: none;
  animation: colorChange 1s steps(2) infinite;
}

.contact-number:hover {
  color: #FF7B00;
}

